// 圆角设置
$border-radius-inner     = 20px 20px 20px 20px;
$border-radius           = 20px;


// NexT调整页面宽度
$content-desktop                = 850px
$content-desktop-large          = 950px
$content-desktop-largest        = 1100px